body{
    margin:0;
    padding:20px;
    background:#111;
    color:white;
    font-family:Arial, sans-serif;
}

.container{
    max-width:500px;
    margin:auto;
}

h1{
    text-align:center;
    color:#00ff99;
}

.box{
    background:#1e1e1e;
    padding:20px;
    border-radius:15px;
    margin-top:20px;
}

input{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:none;
    border-radius:10px;
    background:#222;
    color:white;
    font-size:18px;
    box-sizing:border-box;
}

button{
    width:100%;
    padding:15px;
    margin-top:15px;
    background:#00ff99;
    color:black;
    border:none;
    border-radius:10px;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    opacity:0.9;
}

#result{
    margin-top:20px;
    padding:15px;
    background:#222;
    border-radius:10px;
    color:yellow;
    text-align:center;
}

#history{
    margin-top:20px;
}

.historyItem{
    background:#222;
    padding:10px;
    margin-top:10px;
    border-radius:10px;
}

#timerBox{
    margin-top:20px;
    background:#222;
    padding:15px;
    border-radius:10px;
    text-align:center;
    font-size:24px;
    color:#00ff99;
}
